
.product-list-container{
    background-color: #fff;
    width: 100%;
    max-width: 100%;
    .sidebar{
    	ul{
    		list-style:none;
    		margin: 0;
    	}
    	li{
    		@include dotted-border-bottom(#1a2433);
    	}
    }
}

.product-category-page{
	#second-band{
		.category-boxes{
			padding: 0;
			.large-12{
				padding: 0.21875rem;
			}
		}
	}
}

.featured-products-slider{
	position: relative;
	overflow: hidden;
	.swiper-slide{
		article{
			padding: 0.5rem;
		}
	}
	.featured-products-image{
		padding: 50% 0;
		background-size: cover;
	}
	.featured-products-title{
		font-size: 1rem;
		font-weight: 600;
		margin: 15px 0;
		a{
			color: #010101;
		}
	}
	.featured-products-price{
		text-indent: 0px;
	}
	.swiper-button-next, .swiper-button-prev{
		top: 39%;
		background-color: $brand-color;
		border-radius: 1rem;
		height: 2rem;
		width: 2rem;
		border: 2px solid white;
	    line-height: 3rem;
	    text-align: center;
	    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 27 44'%3E%3Cpath d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z' fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
	    background-size: 30%;
	}
	.swiper-button-prev{
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 27 44'%3E%3Cpath d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z' fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
	}
}