/******************************************************************
        
Stylesheet: Main Stylesheet

Here's where the magic happens. Here is where you import
all of your Sass files so they can compile into one
CSS file. 

******************************************************************/

// Import custom mixins
@import "mixins";

// Import local Foundation overrides - Don't link to Bower version as it will be overwritten whenever updated
@import "settings";

// Import foundation.scss from vendor files
@import "../../vendor/foundation-sites/scss/foundation";

// Import top-menu.scss 
@import "top-menu"; 

// Import Motion-UI from vendor files
@import "../../vendor/motion-ui/src/motion-ui";
@include motion-ui-transitions;
@include motion-ui-animations;

// Select the components you want to use
@include foundation-global-styles;
@include foundation-grid;
//@include foundation-flex-classes;
//@include foundation-flex-grid;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;


// Import your custom styles
@import "main";

// Import your retina/HD styles
@import "2x";

// Import your print styles
@import "print";

#dvVideoHolderHome {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
#dvVideoHolderHome_wrapper {
    height: 0;
    margin-bottom: 0;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
}

#menu-main-1 .ibiza-menu .menu-item-has-children
{
    height:400px;
}

#menu-main-1 {
    display: flex;
    height:92px;
}


#menu-main-1 li{
    flex-grow: 1;
    text-transform: uppercase;
    margin-top:29px;
    margin-bottom:29px;
}

#menu-main-1 li a{
    color: #1a2433;
    display: block;
    height: 12px;
    line-height: 12px !important;
}

li.menu-item-type-post_type a , li.menu-item-object-custom a {
    text-align: center;
}


.swiper-container-banner{
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
    height:295px;
}


.swiper-container-banner img{
    width:100%;
}





.swiper-container-banner .info{
    color: #fff;
    left: 70px;
    position: absolute;
    top: 20px;
    width: 40%;
}

.swiper-container {
    height: 322px!important;
}

.cq-linkstack a{
    color:#fff;
}
li.dimension{
    display: none;
    float: left;
    list-style: outside none none;
    margin-left: 1.22222rem;
    cursor: pointer;
    width: 25px;
}

.current{
    font-weight:bold;
    border:1px solid #ccc;
} 

.rst_0 {
    display:none; 
}

p.ng-binding {
    height: 60px;
    overflow: hidden;
}
/*
.row{
    max-width:98%!important;
}*/

#main .panel{
    height:550px;
}


/* Image Box Style */
#main .box {
    cursor: pointer;
    height: 240px;
    width:240px; 
    position: relative;
    overflow: hidden;
}
#main .box img {
    position: absolute;
    left: 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;	
    transition: all 300ms ease-out;
}

/* Caption Common Style */
#main .box .caption {
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    color: #fff;
    z-index: 100;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;	
    transition: all 300ms ease-out;
    left: 0;
}


/** Caption 1: Simple **/
#main .box .simple-caption {
    height: 30px;
    width: 200px;
    display: block;
    bottom: -30px;
    line-height: 25pt;
    text-align: center;
}

/** Caption 2: Full Width & Height **/
#main .box .full-caption {
    width: 240px;
    height: 240px;	
    top: -200px;
    text-align: left;
    //padding: 15px;
}

/** Caption 3: Fade **/
#main .box .fade-caption, #main .box .scale-caption  {
    box-sizing: border-box;
    height: 100%;
    opacity: 0;
    padding: 21px;
    text-align: left;
    width: 100%;
}

/** Caption 4: Slide **/
#main .box .slide-caption {
    width: 170px;
    height: 170px;	
    text-align: left;
    padding: 15px;
    left: 200px;
}

/** Caption 5: Rotate **/
#main #box-5.box .rotate-caption {
    width: 170px;
    height: 170px;	
    text-align: left;
    padding: 15px;
    top: 200px;
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

#main .box .rotate {
    width: 200px;
    height: 400px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;	
    transition: all 300ms ease-out;
}

/** Caption 6: Scale **/
#main .box .scale-caption h3, #main .box .scale-caption p {
    position: relative;
    left: -200px;
    width: 170px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;	
    transition: all 300ms ease-out;
}

#main .box .scale-caption h3 {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    -ms-transition-delay: 300ms;	
    transition-delay: 300ms;
}

#main .box .scale-caption p {
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    -ms-transition-delay: 500ms;	
    transition-delay: 500ms;
}

/** Simple Caption :hover Behaviour **/
#main .box:hover .simple-caption {
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    opacity: 1;
    transform: translateY(-100%);
}

/** Full Caption :hover Behaviour **/
#main .box:hover .full-caption {
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    opacity: 1;
    transform: translateY(100%);
}

/** Fade Caption :hover Behaviour **/
#main .box:hover .fade-caption, #main .box:hover .scale-caption  {
    opacity: 1;
}

/** Slide Caption :hover Behaviour **/
#main .box:hover .slide-caption {
    background-color: rgba(0,0,0,1) !important;
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    opacity: 1;
    transform: translateX(-100%);
}
#main .box:hover img#image-4 {
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 1;
}

/** Rotate Caption :hover Behaviour **/
#main .box:hover .rotate {
    background-color: rgba(0,0,0,1) !important;
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

/** Scale Caption :hover Behaviour **/
#main .box:hover #image-6 {
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

#main .box:hover .scale-caption h3, #main .box:hover .scale-caption p {
    -moz-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
}


.add_facets li{
    cursor: pointer;
}

#inner-content{
    min-height:600px;
}

.swiper{
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.swiper-container-scheduled-home .home_product {
    padding: 25px;
}#sticky-posts-10{
    overflow: hidden;
}
.swiper-container-howto img{
    height:200px;
}
.swiper-container-howto article{
    text-align: center;

}
#sticky-posts-12 h4{
    text-align: center;
    margin:20px 0;
}

.home_product.type-home_product.status-publish.hentry p {
    font-size: 12px;
    margin: 0;
}

.tt-menu{  

    border: 1px solid #ccc;
    background: white;
}
.tt-menu p{  

    cursor: pointer;
    font-size:75%;
    margin-bottom:5px;
    overflow: hidden;
}

.header-container{
    margin: rem-calc( 26 0 0 0 );
    text-align: right;
}
.header-container a{
    color:#000;
}
.typeahead {
    width:180px;
    float:left;
    background-color: transparent;
    border-bottom:none !important;
    border-image: none !important;
    border-left: medium none !important;
    border-right: medium none !important;
    border-top: medium none !important;
    box-shadow: none;
    color:#000;
    height: 24px;
    margin: 0 0 0 0;
    padding: 0;
}
.typeahea::-webkit-input-placeholder {
    color: #000;  
    opacity: 1 ;
}

.typeahead:-moz-placeholder { /* Firefox 18- */
    color: #000;  
    opacity: 1 ; 
}

.typeahead::-moz-placeholder {  /* Firefox 19+ */
    color: #000;  
    opacity: 1 ;
    text-transform: uppercase;


}

.typeahead :-ms-input-placeholder {  
    color: #000;  
    opacity: 1 ; 
}
.tt-menu h5{

    background: #333;
    clear:both;
    text-indent: 10px;
    color:#ccc;
}

.upw-posts article {
    overflow: hidden;
}

.fullwidth {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

.site-top-bar{
    background:$brand-color;
}


.font-small{
    font-size: rem-calc( 10 );
    margin: 0;
    padding: 0;
}

.rating-text{
    font-weight: bold;
    line-height: 32px;
}
.rating-text img{
    vertical-align: text-bottom;
}

.rating-text span{
    margin: rem-calc(0 0 0 8);
}

.site-top-bar li a{
    display: inline-block;
    padding-left: 1px;
    padding-right: 0px;
    text-transform: uppercase;
    font-weight:bold;
}
.upper{
    text-transform: uppercase;
}

.separator{
    padding:rem-calc( 0 13 0 14 );
}

.right{
    float:right;
}

.left{
    float:left;
}

.slogan{
    margin:rem-calc( 9 0 0 0 );
}
.header-outter {
    background:#fff;
    border-bottom:rem-calc(2) solid  $brand-color;
}

#logo{
    margin:17px 0 22px 0;
}

.tv-products{
    position: relative;
}



.tv-products p{
    margin:4px 0 4px 0;
    font-size:75%;
}

.tv-products .large-3{
    padding-right:0;
    padding-top:15px;
    padding-bottom:15px;
}

#triangle-outter{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 67.5px 59px 67.5px 0;
    border-color: transparent #fff transparent transparent;
    line-height: 0px;
    _border-color: #000000 #fff #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    position: absolute;
    left: -60px;
    display:none;
}
#triangle{
    border-color: transparent #e57063 transparent transparent;
    border-style: solid;
    border-width: 66.5px 58px 66.5px 0;
    height: 0;
    left: -58px;
    line-height: 0;
    top: 1px;
    width: 0;
    z-index: 9;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    position: absolute;
    display:none;
}

.active-product{
    display:block!important;
}

.tv-product.active-product {
    background:#e57063;
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
    border-right:1px solid #fff;
    height:135px;

}

.tv-product{
    
    background:rgba(255,255,255, 0.75);
    width:97%;
}

.tv-product p{
    width:97%;
}

.tv-product .row{
    padding: 5px 0 0;
}

.tv-product img {

    bottom: 8px;
    left: 7px;
    position: relative;

}

.active-product p , .active-product p a {
    color:#fff;
    font-weight: bold;
}




#tv-options .large-6{
    background-clip: content-box;
    background-color:#fff;
    height:64px;
}

#tv-options .large-6 a{
    line-height: 64px;
    color:#E57063;
}

.blue-arrow{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 24.5px 0 24.5px 21px;
    border-color: transparent transparent transparent #4cebe8;


}

.tv-schedule-details{
    display:inline-block;
    margin: 0 0 9px 20px;
}


.tv-schedule-details p{
    margin:0;
    font-size:12px;
    line-height: 16px;
}

#second-band{

    padding: 52px 0;

}

#second-band .more-link{
    color: #e56f63;
    display: block;
    font-size: 14px;
    margin: 10px 0 0;
    text-transform: uppercase;
}

.padding-1{
    padding:0px;
    padding-top:0px;
}
.featured_categories h4.entry-title{
    padding: 42% 0px; 
    text-align: center; 
    background: rgba(255, 255, 255, 0.75) none repeat scroll 0px 0px; 
    color: #e56f63;
}

.featured_categories .entry-title a{
    border-bottom: 3px solid #e56f63;
    text-transform: uppercase;
    font-size: 19px;
}
.howtos {
    background: #fff;
}
.how-to-holder {
    padding:10px;
    text-align:left;
}

.howtos .entry-content p{
    font-size:14px;
}


.how-to-holder a{
    color:#e56f63;
    text-transform: uppercase;
}

.howtos p.how-to-image-holder{
    height: 308px;
    overflow: hidden;
}

.footer{
    
    background:#fff;
    border-top: 5px solid #4ceae8;
    padding:35px 0;
}

.footer input{
    background: #efefef none repeat scroll 0 0;
    border: 1px solid #efefef;
    font-size: 13px;
    text-indent: 10px;
    width: 210px;
     
}

.footer button{
    background: #e56f63;
    height: 37px;   
    text-transform: uppercase;
}

.copyright{
    font-size:rem-calc(12);
}
#third-band .widget
{
    text-align: center;
}

#third-band h4{
    background: white none repeat scroll 0 0;
    display: inline-block;
    line-height: 30px;
    margin: 20px auto;
    padding: 10px 55px 9px;
    text-align: center;    
}

#second-band .large-6, #second-band .large-3{
    padding:rem-calc(3.5); 
}


#second-band{
    left: -4px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 1328px;
}

.search-container{
    text-align: center;
    background:rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    display:none;
}

.search-container form{
    display: inline-block; 
    background: rgb(255, 255, 255) none repeat scroll 0% 0%; 
    border-radius: 34px; 
    margin: 13px;
}
.search-container  img{
    width: 20px; 
    vertical-align: baseline;
}