/******************************************************************
	
Stylesheet: Main Stylesheet

Here's where the magic happens. Here is where you import
all of your Sass files so they can compile into one
CSS file. 

******************************************************************/

// Import custom mixins
@import "mixins";

// Import local Foundation overrides - Don't link to Bower version as it will be overwritten whenever updated
@import "settings";

// Import foundation.scss from vendor files
@import "../../vendor/foundation-sites/scss/foundation";

// Import top-menu.scss 
@import "top-menu"; 

// Import Motion-UI from vendor files
@import "../../vendor/motion-ui/src/motion-ui";
@include motion-ui-transitions;
@include motion-ui-animations;

// Select the components you want to use
@include foundation-global-styles;
@include foundation-grid;
//@include foundation-flex-classes;
//@include foundation-flex-grid;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;


// Import your custom styles
@import "main";

// Import your retina/HD styles
@import "2x";

// Import your print styles
@import "print";

#dvVideoHolderHome {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
#dvVideoHolderHome_wrapper {
    height: 0;
    margin-bottom: 0;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
}

#menu-main-1 .ibiza-menu .menu-item-has-children
{
    height:400px;
}

#menu-main-1 {
    display: flex;
    
}


#menu-main-1 li{
    flex-grow: 1;
   
}


li.menu-item-type-post_type a , li.menu-item-object-custom a {
     text-align: center;
}


.swiper-container-banner{
  margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
    height:295px;
}


.swiper-container-banner img{
    width:100%;
}

.row {
background:#fff;
}

.off-canvas-content{
    background:#ddd;
}

.swiper-container-banner .info{
        color: #fff;
    left: 70px;
    position: absolute;
    top: 20px;
    width: 40%;
}

.swiper-container {
    height: 322px!important;
}

.cq-linkstack a{
    color:#fff;
}
li.dimension{
    display: none;
    float: left;
    list-style: outside none none;
    margin-left: 1.22222rem;
    cursor: pointer;
    width: 25px;
}

.current{
    font-weight:bold;
    border:1px solid #ccc;
} 