/******************************************************************

Stylesheet: Login Stylesheet

This stylesheet is loaded is only on the login page. This way you can style
the login page. It won't affect any other page, admin or front-end.

Make sure functions/admin.php is activated in your functions.php file.

This stylesheet is turned off by default.

For more info, check out the codex:
http://codex.wordpress.org/Creating_Admin_Themes

******************************************************************/

@import "settings";

.menus.row {
    padding:30px 30px 0 0;
    border-top: 2px solid $brand-color;
    min-height: 650px;
}
.top-bar {
    padding: 0!important;

}

 

.top-bar .menu {
    


    
    &:first-child {
        a{
            &:hover + .ibiza-menu {
                
                display: block;
                z-index: 4101;
            }

            &:hover {
                position: relative;
                
                z-index: 9999999;
            }
        }

    }
}

/*
.top-bar ul.menu li:hover > a {
    background-color: #fff;
    position:relative;
    z-index: 9999999;
    color:#000!important;
}
*/




.top-bar, .top-bar ul {
    background-color: #fff!important;
}


#menu-main-1 > .menu-item > a:first-child{
    height:56px;
}

#menu-main-1 > .menu-item > a:first-child:hover{
    color:$brand-color;
}

.ibiza-menu > .menus > .menu-item-has-children > a:first-child
{
            font-weight:bold;
            color:#fff!important;
            display:inline-block!important;
            margin-bottom:20px; 
            background:$brand-color;
            padding:10px;
}

.ibiza-menu  ul{

    list-style: none;
    margin-left:0;


    ul  a{
        font-weight:normal;
        background:#fff;
        font-size:14px;

    }     

    .menu-item-has-children{

        a{

        }

        a:hover {
            text-decoration: underline;

        }
    }





}


.menu-item-32 {
    
}

.ibiza-menu {


    //box-shadow: 0 5px 14px 0px #313131;
    background: transparent none repeat scroll 0 0;
    border-top: 2px solid $brand-color;
    display: none;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 111px;
    width: 1334px;
    
    z-index: 999999;
    li.large-3 , li.medium-3 {
        width:15%;
    }
   
}

.ibiza-menu .column:last-child:not(:first-child), .ibiza-menu .columns:last-child:not(:first-child)
{
    float:left;
}


.ibiza-menu:hover {
    display:block;
}

.top-bar .ibiza-menu .row{
    margin: 0 auto !important;
    max-width: 84rem;
}

.main-nav__backdrop {
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 145px;
    visibility: hidden;
    width: 100%;
    z-index: 3999;
    
}

#content{
/*    box-shadow: 0 7px 7px -7px #313131 inset;*/
}

.swiper-container-products{
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.large-4.small-6.columns.ng-scope {
    height: 485px;
}


input.search-submit{
    display:none;
}

.swiper-slide div{
    font-weight:bold;
    text-indent:10px;
    color:#333;
}

.ibiza-menu > ul > li > ul > li.menu-item a{
    border-left: 5px solid #000;
    height: auto;
    margin: 0 10px 10px 0;
    padding-left: 7px;
}

.ibiza-menu > ul > li > ul > li.menu-item .menu-item a{
    
    
   border-left: none;
   font-weight:normal;
}


.header .menu a{
    height:auto;
    
}
.header .menu  a:hover{
    color:$brand-color;
}

#top-bar-menu{
    margin-top:23px;
}

.ibiza-menu {
    padding:20px;
    background:#fff;
}

.menu-item-has-children{
    margin-bottom:10px;
}

#top-bar-menu li:hover > a {
    color: $brand-color;
    
}

#top-bar-menu li:hover > a div{
    z-index: 1!important;
}